!
{%- for interface in interfaces %}
interface {{ interface.name }}
 ip address {{ interface.ipv4_address }} {{ interface.ipv4_mask }}
 ipv6 address {{ interface.ipv6_address }}{{ interface.ipv6_cidr }}
{%- endfor %}
!